*,
 ::before,
 ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #333;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background: url('/Games/IMG1/Bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
}

.container-first {
    position: absolute;
    top: 30%;
    left: 5%;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    color: #ffffff;
    font-family: 'Rubik Beastly', cursive;
}

h1 span {
    position: relative;
}

h2 {
    text-align: center;
    color: white;
}

h3 {
    color: white;
    text-align: center;
    font-size: 15px;
    opacity: 20%;
}

.logo {
    position: absolute;
    right: 2.9%;
    top: 4%;
    width: 65px;
    height: 65px;
}

.medias {
    list-style-type: none;
    position: absolute;
    right: 3.3%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.images {
    text-align: center;
    margin: auto;
}

.navbar ul {
    list-style: none;
    background: transparent;
    padding: 0;
    margin: 0;
    text-align: center;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    width: 120px;
    display: block;
    padding: 10px 20px;
    font-size: 15;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.navbar a:hover {
    background: transparent;
}